
body{
    margin: 0;
}
button{
    cursor: pointer;
}
@font-face {
    font-family: 'CIRCE ROUNDED';
    src: url('../fonts/CIRCE ROUNDED.OTF')  format('opentype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'CIRCE-EXTRABOLD';
    src: url('../fonts/CIRCE-EXTRABOLD.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Black';
    src: url('../fonts/SF-UI-Display-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Bold';
    src: url('../fonts/SF-UI-Display-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Heavy';
    src: url('../fonts/SF-UI-Display-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Light';
    src: url('../fonts/SF-UI-Display-Light.ttf')   format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Medium';
    src: url('../fonts/SF-UI-Display-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Regular';
    src: url('../fonts/SF-UI-Display-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Semibold';
    src: url('../fonts/SF-UI-Display-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Thin';
    src: url('../fonts/SF-UI-Display-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'SF-UI-Display-Ultralight';
    src: url('../fonts/SF-UI-Display-Ultralight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
.window{
    width: 100vw;
    height: 100vh;
}
/////////profile
.profile-top{
    background:#f5f8ff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.profile-change{
    button{
        border: none;
        background: transparent;
        font-size: 14px;
        font-family: 'SF-UI-Display-Bold';
        background: -webkit-linear-gradient(  80deg,#7767e5, #219ad1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 20px
    }
}
.profile-photo-box{
    padding-top: 18px;
    padding-bottom: 12px;
    width: 90px;
    height: 91px;
    // background: url(../img/Profile-photo-round.jpg)no-repeat center;
    img{
        width: 100%;
        border-radius: 50%;
    }
}
.sittings{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.content{
    padding-top: 15px;
    padding-left: 19px; 
}
.nickname{
    span{
        font-size: 14px;
        font-family: 'SF-UI-Display-Regular';
        padding-right: 28px;
        padding-bottom: 10px;        
    }
    input{
        font-size: 14px;
        font-family: 'SF-UI-Display-Regular';
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        padding-bottom: 10px;
        width: calc(100% - 110.5px);
        padding-right: 20px;   
    }
}
.bottom{
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.buttons{
    padding-left: 15px;
    padding-right: 34px;
    display: flex;
    justify-content: space-between;   
    button{        
        border: none;
        outline: none;
        width: 119px;
        height: 34px;
        font-size: 16px;
        font-family: 'SF-UI-Display-Regular';
        color: white;
        border-radius: 4px;
    }
    #annulment{           
            background: linear-gradient( 80deg, rgb(206,17,17) 0%, rgb(255,51,51) 100%);
            box-shadow: 0px 5px 15px 0px rgba(209, 33, 33, 0.3);           
    }
    #save{
        background: linear-gradient( 80deg, rgb(119,103,229) 0%, rgb(33,154,209) 100%);
        box-shadow: 0px 5px 15px 0px rgba(33, 154, 209, 0.3);
    }
}
////////Comments
.comments-window{
    display: none;
    //display: block;
}
.comments-top{
    height: 100px;
    background: url(../img/profile-photo.jpg)no-repeat;
    background-position: top;
    box-shadow: 0 0 100px rgba( #151920,.48) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;  
}
.comments-top{
    span{
        color: white;
        font-size: 15px;
        font-family: 'SF-UI-Display-Bold';
        margin-top: 24px;  
    }
    button{  
        padding-right: 14px;
        text-align: right;
        margin-top: 12px;
        border: none;
        outline: none;
        color: white;
        font-size: 14px;
        font-family: 'SF-UI-Display-Regular';
        line-height: 1.2;
        border-radius: 4px;
        background: url(../img/arrow-pointing-to-left-.svg) no-repeat 9% 50%/11px,linear-gradient( 80deg, rgb(119,103,229) 0%, rgb(33,154,209) 100%);
        box-shadow: 0px 5px 15px 0px rgba(33, 154, 209, 0.3);
        width: 155px;
        height: 28px;    
    }
}
.item-img{
    border-radius: 18px;
    width: 38px;
    height: 37px;
    padding-right: 7px;
}
.item{
    display: flex;
    flex-direction: row;
    padding-bottom: 11px;
}
.item-date{
    font-size: 11px;
    font-family: 'SF-UI-Display-Regular';
    color: #999999;
}
.item-comment{
    #persone{
        font-size: 14px;
        font-family: 'SF-UI-Display-Bold';
    }
    #text{
        font-size: 14px;
        font-family: 'SF-UI-Display-Regular';
    }
}
.slide-box{
    padding-right: 19px;
    padding-bottom: 15px;
    padding-top: 12px;
    padding-left: 17px;
    overflow: auto;
    pointer-events: none;
}
  .com-box{
      align-items: center;
  }
.write-com{
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    textarea{
        font-size: 16px;
        font-family: 'SF-UI-Display-Regular';
        line-height: 1.375;
        color: black;
        border: none;
        resize:none;
        width: 100%;
        height: 52px;
        outline: none; 
        border-top: 2px solid rgb(243, 243, 243);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px -20px 20px -20px rgba(0, 0, 0, 0.06);
       
        padding-left: 25px;
        padding-right: 100px;
        box-sizing: border-box;
        padding-top: 14px;
    }
    textarea::placeholder{
        font-size: 16px;
        font-family: 'SF-UI-Display-Regular';
        color: rgb(153, 153, 153);
       
    }
}
  .send-mess{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 14px;
    bottom: 4px;
    border: none;
    background: url(../img/btn.png) no-repeat 9% 50%/40px;
    background-color: transparent;
    outline: 0;
}
//add
.add-top{
    padding-top: 32px;
    padding-bottom: 32px;
    .add-img{
        border-radius: 20px;
        box-shadow: 0px 10px 19px 1px rgba(0, 0, 0, 0.2);
        display: flex;
    margin: auto;
        width: 173px;
        height: 173px;
    img{
        width: 100%;
       
    }
}
}
.descriptions-title{
    font-size: 24px;
    font-family: 'SF-UI-Display-Regular';
    line-height: 1.363;
    //line-height: 1.333;
    // padding-bottom: 24px;
}  
.add-descriptions{
    //display: flex;
    display: none;
    flex-direction: column;
    text-align: center;
      
    .text-box{
        padding: 20px 18px 15px 18px;
    textarea{
        font-size: 16px;
        font-family: 'SF-UI-Display-Regular';
        border-width: 9px;
        border-color: rgb(246, 246, 246);
        border-style: solid;
        border-radius: 4px;
        height: 198px;
        line-height: 1.375;
        color: black;
        resize:none;
        width: 100%;
        outline: none; 
        padding: 21px;
        box-sizing: border-box;
            }
        }
    button{
        width: 148px;
        height: 29px;
        background: linear-gradient( 80deg, rgb(119,103,229) 0%, rgb(33,154,209) 100%);
        box-shadow: 0px 5px 15px 0px rgba(33, 154, 209, 0.3);
        border-radius: 4px;
        border: none;
        align-self: center;
        color: white;
        font-size: 14px;
        font-family: 'SF-UI-Display-Regular';
        text-align: center;
    }
}
.foot-navigation{
    position: fixed;
    bottom: 0;
    height: 54px;
    width: 100%;
    background: #f7f7f7;
    border-top: 1px solid rgb(243, 243, 243);
    // border-top: 
    .nav{
        height: 100%;
        display: flex;
        justify-content:space-around;
        .nav-btns{
            width: 26px;
            //width: 33%;
            height: 100%;
             border: none; 
        }
        .btn1{
            background: url(../img/follower.svg) no-repeat center/24px;
        }
        .btn2{
            background: url(../img/musica-searcher.svg) no-repeat center/24px;
        }
        .btn3{
            background: url(../img/chat.svg) no-repeat center/24px;
        }
    }
} 
///search
.search{
    //display: flex;
    display: none;
    flex-direction: column;
    text-align: center;
}
.search-load{
    margin: auto;
    padding-top: 24px;    
}
.search-box{
    width: 31px;
    height: 31px;
    border: 6px solid #f1f3f4;    
    border-radius: 50%;
    position: relative;
    .round{
        width: 31px;
    height: 31px;
    img{
    width: 45px;
    height: 41px;
    position: absolute;
    top: -15px;
    left: -10px;
     }
     animation-name:ball_moveG;
		-o-animation-name:ball_moveG;
		-ms-animation-name:ball_moveG;
		-webkit-animation-name:ball_moveG;
		-moz-animation-name:ball_moveG;
	animation-duration:2.5s;
		-o-animation-duration:2.5s;
		-ms-animation-duration:2.5s;
		-webkit-animation-duration:2.5s;
		-moz-animation-duration:2.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
		-o-animation-timing-function:linear;
		-ms-animation-timing-function:linear;
		-webkit-animation-timing-function:linear;
		-moz-animation-timing-function:linear;
    }
}
  ///no search
  .no-search{
      display: none;
      text-align: center;
    .text-box{
        margin: auto;
        padding-left: 43px;
      padding-right: 43px;
      width: 234px;
      padding-top: 16px;     
        .text{
            font-size: 15px;
            font-family: 'SF-UI-Display-Regular';
            color: rgba(0, 0, 0, 0.6);
            line-height: 1.663;  
        }
    }
  }
  .add-btn{
    position: relative;
    margin-top: 29px;
    font-size: 14px;
    font-family: 'SF-UI-Display-Regular';
    color: rgb(238, 242, 248);
    border: none;
    padding-right: 21px;
    text-align: right;
    border-radius: 4px;
    background: #6456df;
    background: linear-gradient( 80deg, rgb(119,103,229) 0%, rgb(33,154,209) 100%);
    box-shadow: 0px 5px 15px 0px rgba(33, 154, 209, 0.3);
    width: 234px;
    height: 29px;
    outline: none;
}
.add-btn:before{
    background: rgba(#6456df, .8);
    content: "+";
    color: rgb(238, 242, 248);
    line-height: 2.1;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 29px;
     height: 29px;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
}
///identified
.identified-top{
    display: flex;
    padding-top: 30px;
    padding-bottom: 14px;
    .top-text{
        margin: auto;
        text-align: center;    
        span{
            font-size: 20px;
            line-height: 1.4;
            font-family: 'SF-UI-Display-Regular';
            }
            #title-blue{
                color: #5779de;
            }
        }
}
.coincidence{
    text-align: center;
    display: flex;
    flex-direction: column;
   
  
}
.box{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 44px;
    padding-right: 44px;
    button{
        margin: auto;
        margin-top: 18px;
    }
    span{
        font-size: 16px;
        font-family: 'SF-UI-Display-Regular';
        color: #d0d0d0;
        line-height: 1.5;
        text-align: center;
    }
}
.coincidence-box{
    padding: 13px 15px 19px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    .coincidence-item{
        padding-bottom: 1px;
        padding-right: 5px;
    }
}
  
////////subscribers
.subscribers{
    //display: none;
    .subscribers-top{
        position: fixed;
    top: 0;
    height: 59px;
    width: 100%;
    background: #f7f7f7;
    padding-left: 19px;
    text-align: left;
    span{
        display: flex;
        margin-top: 22px;
        font-size: 18px;
        font-family: 'SF-UI-Display-Bold';
        
    }
    }
            .subscribers-box{
                padding-top: 57px;
                width: 100%;
                .slider{
                    //width: calc(100% - 95px);
                    width: 100%;
                    overflow: hidden;
                    .slide-item{
                        width: 100%;
                        overflow: hidden;
                        height: 74px ;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding-left: 18px;
                        border-bottom: 1px solid #e8e8e8;
                        .persone-img{

                                width: 61px;
                                height: 57px;    
                                border-radius: 50%;    
                                 background: url(../img/Subscribes1.png)no-repeat center/57px;                     
                        }
                        .persone-aboute{
                             width: calc(100% - 95px);
                              
                            display: flex;
                            flex-direction: column;
                            margin-left: 8px;
                            height: 75px ;
                           
                            .comments-title{
                                display: flex;
                                justify-content: space-between;
                                margin-top: 14px;
                                
                                .number-com{
                                    
                                    font-size: 14px;
                                    font-family: 'SF-UI-Display-Bold';
                                    color: #358ed6;
                                    line-height: 2;
                                
                            }
                                .date-com{
                                    
                                        font-size: 12px;
                                        font-family: 'SF-UI-Display-Regular';
                                        color: #b6b6b6;
                                        line-height: 2.333;
                                      
                                    }
                                      
                                
                            }
                            .part-com{
                                .comment{
                                    font-size: 14px;
                                    font-family: 'SF-UI-Display-Regular';
                                    line-height: 1.571;
                                    
                                      
                                    // color: #b6b6b6;
                                    // line-height: 2.333;
                                }
                            }

                        }
                        
                    }
                }
            }



}
.slider-container{
    display: flex;
    overflow: hidden;
    width: calc(100% + 109px);
    position: relative;
    left: 0;
}
.delete-btn{
    height: 75px;
    width: 115px;
    border: none;
    background: #ff3333;
    color: rgb(255, 251, 247);
    font-size: 12px;
    font-family: 'SF-UI-Display-Regular';
    line-height: 1.833;
    position: relative;
    float: right;
    padding-top: 22px;
    background: url(../img/waste-bin.svg)no-repeat 50% 33%/16px, #ff3333;
    outline: none;
}

   




.cont{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
}





/////////////no-subscribers
.no-subscribers{
    display: none;
    .no-subscribers-box{
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        padding: 114px 50px 0 50px;
        .no-subscribers-img{
            img{
                width: 88px;
                margin-bottom: 32px;
            }
        }
    }
    .title{
        font-size: 24px;
        font-family: 'SF-UI-Display-Regular';
        color: rgb(0, 0, 0);
        line-height: 1.333;
        margin-bottom: 15px;
    }
    .text{
        font-size: 16px;
        font-family: 'SF-UI-Display-Regular';
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.563;
    }
    .arrow-down{
        margin-top: 136px;
        height: 24px;
        background: url(../img/down-arrow-grey.svg)no-repeat center/24px;
    }
}

  

  




//////
@keyframes ball_moveG{
	0%{
		transform:rotate(0deg)
	}

	100%{
		transform:rotate(360deg)
	}
}

@-o-keyframes ball_moveG{
	0%{
		-o-transform:rotate(0deg)
	}

	100%{
		-o-transform:rotate(360deg)
	}
}

@-ms-keyframes ball_moveG{
	0%{
		-ms-transform:rotate(0deg)
	}

	100%{
		-ms-transform:rotate(360deg)
	}
}

@-webkit-keyframes ball_moveG{
	0%{
		-webkit-transform:rotate(0deg)
	}

	100%{
		-webkit-transform:rotate(360deg)
	}
}

@-moz-keyframes ball_moveG{
	0%{
		-moz-transform:rotate(0deg)
	}

	100%{
		-moz-transform:rotate(360deg)
	}
}








